.token-item
  .edit-token-icon
  .token-control
    display none
  &:hover
    .edit-token-icon
    .token-control
      display inline-block
.color-grey
  color #777
.token-str
  font-family monospace
.token-name-wrap
  display inline-block
  width 200px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.data-preview-wrap
  max-height 500px
  overflow auto
.font13
  font-size 13px
.font16
  font-size 16px